header {
    position: fixed;
    top: 0;
    background : rgb(30, 30, 30);
    width: 100%;
    z-index: 2;
}

p {
    font-size: 25px;
}

.barra-navegacion {
    padding: 0.5em;
    margin: .3em 1em;
    text-align: right;
}

.barra-navegacion h3{
    display: inline-block;
    width: 39%;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    text-align: left;
    vertical-align: middle;
}

.barra-navegacion ul {
    display: inline-block;
    width: 60%;
    align-items: flex-end;
}

.barra-navegacion li {
    display: inline;
    vertical-align: middle;
    margin: 0.1em
}


li a {
    color: grey;
}


.contenedor {
    margin: 0 auto;
    width: 100%;;
}

.imagen-biografia {
    width: 100%;
    margin-top: 2rem;
}

.perfil-imagen {
    display: inline-block;
    text-align: right;
}

.perfil-imagen {
    width: 15%;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0px 3px 10px 0px;
    position: absolute;
    top: 20%;
    z-index: 1;
}

.perfil-detalles {
    display: inline-block;
    padding: 2rem;
    width: 75%;
    vertical-align: middle;
}

.perfil-detalles h1 {
    font-size: 2.5em;
}

.redes-sociales li {
    display: inline;
    margin-left: 2rem;
}

.redes-sociales img {
    width: 2rem;
}

#acerca{
    margin: 2rem 5rem;
    text-align: justify;
}

#acerca h1, #skill h1, #hobbies h1, #formacion h1, #proyectos h1, #contacto h1{
    text-align: center;
    font-size: 2.5rem;
    margin: 4rem;
}

.contenedor-skill , .contenedor-hobbies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0.4rem;
}

.item-skill, .item-hobbies {
    text-align: center;
    padding: 1rem;
}

.item-skill:hover , .item-hobbies:hover{
    border: 2px solid rgb(30, 30, 30) ;
    border-radius: 10px;
    background-color:rgba(121, 121, 121, 0.5);
    transition-delay: 0.1s;
}

#formacion {
    text-align: center;
}

.item-formacion {
    margin: 2rem;
}

.imagen-formacion {
    display: inline-block;
    width: 40%;

}
.imagen-formacion img {
    margin: 1rem;
    height: 4rem;
}

.descripcion-formacion {
    display: inline-block;
    width: 40%;
}

.descripcion-formacion h2 {
    font-size: 2rem;
}

.descripcion-formacion p:nth-child(3) {
    font-style: italic;
}

.item-proyecto{
    text-align: center;
}

.item-proyecto li {
    position: relative;
    display: inline-block;
    width: 60%;
}

.item-proyecto li>img{
    width: 100%;
}

.descripcion-proyecto {
    display: block;
    position:absolute;
    top: 40%;
    width:100%;
    color: white;
    background: rgba(0,0,0,0.7);
}

.descripcion-proyecto h2 {
    font-size: 1.5rem;
    margin: 1rem;
}

.descripcion-proyecto p , .descripcion-proyecto a{
    font-size: 1rem;
    margin: 1rem;
}

#info-proyecto1, #info-proyecto2 {
    opacity: 0;
    visibility:hidden;
}

.item-proyecto li:hover > #info-proyecto1 {
    opacity: 1;
    visibility:visible;
}

.item-proyecto li:hover > #info-proyecto2 {
    opacity: 1;
    visibility:visible;
}

.boton {
    width: 40%;
    padding: .5rem 1rem;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: grey;
    border:none;
    border-radius: 5px;
}

#contacto {
    text-align: center;
}

form{
    margin: 40px auto;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: auto auto 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: grey;
    border:none;
    border-radius: 5px;
}

footer {
    background : rgb(30, 30, 30);
    width: 100%;
    text-align: center;
}

footer p {
    color: white;
    padding-bottom: 2rem;
}
